.activity-container {
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh;
  background-image: url('./image1.jpg'); /* Replace with your background image */
}

.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.username {
  font-size: 28px;
  color: #6cff55;
}

.welcome-text {
  font-size: 16px;
  color: #aaa;
}

.activity-main {
  display: flex;
  justify-content: space-between;
}

.activity-content {
  flex: 3;
  margin-right: 20px;
}

.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.tab {
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.tab:hover {
  border-bottom: 2px solid #6cff55;
}

.tab.active {
  border-bottom: 2px solid #6cff55;
  color: #6cff55;
}

.activity-list {
  padding: 20px;
  background-color: #292929;
  border-radius: 8px;
}

.activity-list h3 {
  margin-bottom: 15px;
}

.activity-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.timestamp {
  color: #aaa;
  font-size: 0.9em;
}

.no-more-activity {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #777;
}

.activity-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activity-filters, .suggested-friends {
  background-color: #292929;
  padding: 15px;
  border-radius: 8px;
}

.activity-filters h3, .suggested-friends h3 {
  margin-bottom: 10px;
}

.filter-button {
  background: #6cff55;
  color: #121212;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}

.filter-button:hover {
  background: #5aff44;
}

.suggested-friends ul {
  list-style: none;
  padding: 0;
}

.suggested-friends li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.follow-button {
  background: #6cff55;
  color: #121212;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.follow-button:hover {
  background: #5aff44;
}
