/* General Styles */
.signup-form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.signup-form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Input Fields */
.signup-form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit Button */
.signup-form-container button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-form-container button:hover {
    background-color: #357abf;
}
